/*
Box Model = podemos configurar a aparência da caixa dos elementos 
padding = preenchimento
margin = espacamento externo
border = contorno;
*/
/*seletor universal = selecione todos os elemento*/

*{
  box-sizing: border-box;
  margin:0;
}
.box1{
  background-color: orange;
  padding: 70px;
  padding: 20px; /* preenchimento total*/
  margin: 30px;
}
.box2{
  background-color: greenyellow;
  padding: 10px 25px  40px  55px;
  margin: 25px 30px;
}
.box3{
  background-color: brown;
  border: 5px groove black;
  padding-top: 45px;
}
.box4{
  background-color: tomato;
  margin: 10px;
  padding: 20px;
  border: 5px solid yellow;
  width: 200px;
  /*indica ao css pra levar em conta no 200px a borda e o padding*/
  height: 600px;
}